
:root {
	--ancho: 95%;
	--cafe_suave: rgba(210, 204, 161, 0.5);
	--gris_suave: rgba(219, 212, 211, 0.5);
	--coral: rgba(232, 49, 81, 0.5);
	--azul_marina: rgba(17, 157, 164, 0.5);
	--azul_navy: rgba(25, 100, 126, 0.5);
	--cafe_suave_letra: #D2CCA1;
	--gris_suave_letra: #DBD4D3;
	--coral_letra: #E83151;
	--azul_marina_letra: #119DA4;
	--azul_navy_letra: #19647E;
	--verde: green;
	--amarillo: orange;
	--rojo: red;

	--fila_color: #fff; /*rgba(225, 225, 225, 0.5); gris_suave*/
	--linea_fuerte: #D2CCA1;
	--linea_suave: rgba(210, 204, 161, 0.5);
}

* {
	font-family: "Noto Sans";
}

header { 
	position: fixed; 
	top: 0; 
	left: 0; 
	width: 100%; 
	background-color: white; 
	color: black; 
	padding: 20px 20px; 
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
	z-index: 1000; 
	font-size: 20px; 
	font-size: 22px;
}

body {
	margin-top: 125px;
	font-size: 22px;
	font-weight: 400;
}
.contenedor_header {
	display: flex;
	gap: 10px;
	margin-bottom: 2px;
	margin-left: auto;
	margin-right: auto;
	width: var(--ancho);
	align-items: center;
}
.contenedor {
	display: flex;
	gap: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	width: var(--ancho);
	align-items: center;
	padding: 20px;
}
.contenedor-separator {
	display: flex;
	background-color: var(--azul_navy_letra);
	height: 60px;
	align-items: center;
	width: 102%;
	margin-left: -1%;
}
.separator {
	font-size: 50px;
	color: white;
	margin-left: auto;
	margin-right: auto;
	letter-spacing: 25px;
}

#loader-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	display: none;
}
.loader {
	border: 10px solid #f3f3f3;
	border-top: 10px solid #006657;/*#FF9800;*/
	border-radius: 50%;
	width: 80px;
	height: 80px;
	animation: spin 1s linear infinite;
}
/* Class to show the loader */
.show-loader {
	display: flex;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* ******************* HEADER *********************** */
.selected-display { 
	background: var(--cafe_suave);
	padding: 8px 15px;
	border-radius: 12px;
	text-align: left;
	vertical-align: center;
	justify-content: center; 
	align-items: center; 
	min-height: 50px; 
	width: 300px; 
	height: 45px; 
} 
#selected-month { 
	font-weight: 600; 
} 

.rank_unidad { 
	background: var(--rojo); 
	padding: 8px 10px; 
	border-radius: 10px; 
	text-align: center; 
	vertical-align: center; 
	justify-content: center;
	align-items: center; 
	font-weight: 600;  
	height: 50px; 
	color: white;
	min-width: 80px;
} 
.rank_title{ 
	font-size: 12px; 
	font-weight: 400;
	height: 15px; 
	margin-top: 3px;
}

.picker {
	display: flex; 
	align-items: center; 
	gap: 10px; 
	background: var(--gris_suave); 
	padding: 8px 12px; 
	border-radius: 15px; 
	box-shadow: 0 3px 10px rgba(0,0,0,0.1); 
	height: 30px; 
	width: fit-content;
}
.nav-btn-2 {
	border: none;
	background: none;
	cursor: pointer;
	color: var(--coral_letra);
	height: 30px;
	border-radius: 50%;
	transition: all 0.3s;
	margin-right: auto;
	margin-left: auto;
}
.month-display {
	text-align: center;
	min-width: 180px;
	color: black;
}
#unidad_select {
	border: none;
	background: none;
	cursor: pointer;
	height: 30px;
	border-radius: 10%;
	transition: all 0.3s;
	font-size: 22px;
}
#unidad_select option {
	background-color: var(--cafe_suave);
	padding: 10px;
	color: black;
	font-size: 12px;
}
.nav-btn-2:hover{
	background: var(--gris_suave);
	color: var(--coral_letra);
	transform: scale(1.2);
}
.nav-btn-2:disabled, #unidad_select:disabled {
	color: var(--gris_suave_letra);
	transform: scale(1.2);
}

/* **************** GRAFICAS ******************* */
.clickable-plot, .non-clickable-plot {
	flex: 1;
	background: white;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 10px 30px rgba(0,0,0,0.5);
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #fff;
}
.clickable-plot:hover {
	cursor: pointer;
	border: 2px solid var(--coral);
}
#desempe침os {
	max-width: 20%;
}

#indicador_numden {
	width: auto;
}

/* ***************** TABLAS **************** */
contenedor .tablas{
	vertical-align: top;
	width: 50%;
}
.tablas {
	/*flex: 1;*/
	background: white;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 10px 30px rgba(0,0,0,0.5);
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: auto;
	border: 2px solid #fff;
	width: 50%;
	justify-content: center;
	align-items: center;
	text-align: center;
	vertical-align: top;
}

#tabla_rank_comp_21, #tabla_rank_comp_22 {
	width:auto; 
	height: 250px; 
	margin: 10px;
}

/* ** TABLA PEORES ** */
#tabla_rank_comp_21 .tabulator-header, #tabla_rank_comp_21 .tabulator-col{
	background-color: var(--rojo);
	color: white;
	border-bottom: none;
}
#tabla_rank_comp_21 .tabulator-row .tabulator-cell:first-child{
	--linea_fuerte: var(--rojo);
	border-left: 10px solid var(--linea_fuerte);
}
#tabla_rank_comp_21 .tabulator-row:nth-child(even) .tabulator-cell:first-child {
	--linea_suave: var(--coral);
	border-left: 10px solid var(--linea_suave);
}

/* ** TABLA MEJORES ** */
#tabla_rank_comp_22 .tabulator-header, #tabla_rank_comp_22 .tabulator-col{
	background: var(--verde);
	color: white;
	border-bottom: none;
}
#tabla_rank_comp_22 .tabulator-row .tabulator-cell:first-child{
	--linea_fuerte: var(--verde);
	border-left: 10px solid var(--linea_fuerte);
}
#tabla_rank_comp_22 .tabulator-row:nth-child(even) .tabulator-cell:first-child {
	--linea_suave: rgba(0, 204, 0, 0.5);
	border-left: 10px solid var(--linea_suave);
}

/* **************** BOTON ******************* */
.barra-controles {
	width: var(--ancho); 
	display: flex;
	justify-content: end;
	margin-left: auto;
	margin-bottom: -20px;
	padding-right: 50px;
}

.btn-actualizar {
	background-color: var(--azul_marina_letra); /* #007bff; /* Azul est치ndar (c치mbialo a tu gusto) */
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	box-shadow: 0 4px 6px rgba(0,0,0,0.1);
	transition: background 0.3s;
}

.btn-actualizar:hover {
	background-color: var(--azul_navy_letra); /*#0056b3; /* Azul m치s oscuro al pasar el mouse */
}

